<!DOCTYPE html>
<html>

    <head>

        <link rel="stylesheet" href="algebra.css">
        <meta charset="UTF-8">
        <meta name = "viewport" content="width=device-width, initial-scale=1">
    </head>

    <h1>
      <img src="https://media.giphy.com/media/DHqth0hVQoIzS/giphy.gif" width="200" height="100">
      Algebra Rocks
      <img src="https://media2.giphy.com/media/26xBI73gWquCBBCDe/giphy.gif?cid=ecf05e47vrwji1rgg7zmodhx2odnoudsxmrmewp4ijkvokri&rid=giphy.gif&ct=g" width="200" height="100">
    </h1>
<body style = "background-color: cadetblue">

<div class = "IO">
  <h3>Let's Add <b>SUM</b> Stuff ;D</h3>
      <%= form_for :algebra_controller , url: algebra_path, method: :get do |f|   %>
        <%= number_field_tag :a, params[:a] %>
        <%= select_tag :operation, options_for_select([['+', :sum], ['-',    :subtr]], params[:operation]) %>
        <%= number_field_tag :b, params[:b] %>
        <%= f.submit 'Calculate!' %>
      <% end %>

      <% unless @result.nil? %>
      <p> = <%= @result %> </p>
    <% end %>
</div>
<br>
<div class = "formulas">
  <h3>Basic Math Symbols</h3>
  <img src="https://i.ytimg.com/vi/BouqkWYlfzg/maxresdefault.jpg" width="500" height="333">
</div>



</body>
</html>